<div class="content">
			
			

		<!-- APP DETAILS -->
		<div class="wow fadeInUp content-card content-form" style="margin-top: 0;">
			<div id="result"><span style="font-size: 1.5em;">Contact Me</span></div>
			<br/>
			<div class="row">
     		<%= form_for :contact, :remote => true, :url => send_contact_path, :html => {:id => "contact_form"} do |f|%>
                		<div class="col-md-6">
                        	<div id="fullname" class="form-group">
    							<label>Name</label>
    							<%= f.text_field :name, :class=>"form-control" %>
    						</div>
    						<div id="Company" class="form-group">
    							<label>Company</label>
    							<%= f.text_field :company, :class=>"form-control" %>
    						</div>
    						
    						<div id="Email" class="form-group">
    							<label>Email</label>
    							<%= f.text_field :email, :class=>"form-control" %>
    						</div>
    					</div>
    					<div class="col-md-6">
                        	<div class="form-group">
    							<label for="inputmessage">Message</label>
    							<%=f.text_area :message, rows: 7, :class=>"form-control"%>
 							</div>
    					</div>
    					
    					<div class="col-md-12 text-center">
                        	<div class="form-group">
                        			<input type="submit" id="submitButton"  name="submitButton" class="btn btn-default btn-lg" value="Send">
 							</div> 
                    	</div>

                    <%end%> 
              </div>
     	</div>
		
		
</div>